<h1>Items containing '<%= @query %>'</h1>

<h3>Total Results: <%= @total_hits %></h3>

<% @foods.each_with_index do |food, index| %>
  <section id=<%= "foods-#{index}" %>>
    <h3>GTIN/UPC Code: <%= food.gtin_upc %></h3>
    <p>Description: <%= food.description %></p>
    <p>Brand Owner: <%= food.brand_owner %></p>
    <p>Ingredients: <%= food.ingredients %></p>
  </section>
<% end %>
